@{
                /**/

                ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Games Website</h1>
    <p class="lead">Welcome to my project about managing a system about games.</p>
    <p>
        <a href="/Games/Index" class="btn btn-primary btn-lg">Games</a>
        <a href="/Brands/Index" class="btn btn-primary btn-lg">Brands</a>
        <a href="/Kinds/Index" class="btn btn-primary btn-lg">Kinds</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some headline</h2>
        <p>
            some text some text some textsome textsome textsome text some textsome text
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>