@{
                /**/

                ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Games Website</h1>
    <p class="lead">Welcome to my project about managing a system about games.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some headline</h2>
        <p>
            some text some text some text some text some text some text some text some text
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>